/*Header text färg och storlek*/
h1 {
}
.signature{
	width: 80%;
}


p {
	color: #000000;
	font-size: 24px;
	background-color:;
} 

body{
	background-color: #FAEBD7;
}
{
	color: #000000;
	font-size: 20px;
	background-color:;
}
.img-circle {
    border-radius: 50%;
    width: 250px;
}

.socialmediaimage{
    width: 5%;
    height: auto;
    padding-top: 40px;
    padding-right: 10px;
}