/*Header text färg och storlek*/
body{
	background: -webkit-linear-gradient(##F5F5DC,#808080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5F5DC,#808080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5F5DC,#808080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F5F5DC,#808080); /* Standard syntax (must be last) */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.show-menu {
	transform: translateX(340px);
}

.nav.visible {
	display: block;
}

.nav {
	width: 340px;
	height: 100%;
	background: #808080;
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding: 20px;
}

.wrapper{
	width:90%;
	margin: 0 auto;
	text-align: center;
}
.space{
	margin:20px;
}

.img-circle{
    border-radius: 50%;
    width: 250px;
}

.signature{
	width: 70%;
}

h2{
	color: #000000;
	font-size: 24px;
	font-family: "Times New Romas", Times, serif;
}

.fontstyle{
	font-style: italic;
}

p {
	color: #000000;
	font-size: 16px;
	font-family:"Times New Roman", Times, serif;
}

a {
	text-transform: none;
	text-decoration: none;
} 
.socialmediaimage {
	border-radius: 13px;
    width: 50px;
    height: 50px;
}

@media only screen and (min-width:760px) {
	.description-block{
		width: 50%;
		font-size: 16px;
	}
}
